<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis에서는 무조건 namespace가 잇엉된다 -->
<mapper namespace="web.service">
    <select id="selectMember" resultType="map">
        SELECT member_id, member_password,
                member_name, member_email,
                member_phone
         FROM member_4JO
         ORDER BY member_id
    </select>

    <select id="selectMemberOne" resultType="com.web.service.model.MemberDTO" parameterType="String">
        SELECT member_id, member_password,
                member_name, member_email,
                member_phone
         FROM member_4JO
         WHERE member_id = #{member_id}
    </select>

    <insert id="insertMember" parameterType="com.web.service.model.MemberDTO">
        INSERT INTO member_4JO(member_id, member_password,
                                member_name, member_email,
                                member_phone)
        VALUES(#{member_id}, #{member_name}, #{member_password}, #{member_email}, #{member_phone})
    </insert>
    
    <update id="updateMember" parameterType="com.web.service.model.MemberDTO">
        UPDATE member_4JO
        SET member_name = #{member_name}, member_password = #{member_password},
            member_email = #{member_email}, member_phone=#{member_phone}
        WHERE member_id = #{member_id}
    </update>
    
    <delete id="deleteMember" parameterType="String">
        DELETE FROM member_4JO WHERE member_id = #{member_id}
    </delete>

</mapper>