<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.webservice.dao.MemberDAO">
    <select id="memberList" resultType="com.webservice.dto.MemberDTO">
        SELECT member_id, member_password,
                member_name, member_email,
                member_phone
         FROM member_4JO
         ORDER BY member_id
    </select>

    <select id="memberView" resultType="com.webservice.dto.MemberDTO" parameterType="String">
        SELECT member_id, member_password,
                member_name, member_email,
                member_phone
         FROM member_4JO
         WHERE member_id = #{member_id}
    </select>
    
    <update id="updateMember" parameterType="com.webservice.dto.MemberDTO">
        UPDATE member_4JO
        SET member_password = #{member_password}, member_name = #{member_name},
            member_email = #{member_email}, member_phone=#{member_phone}
        WHERE member_id = #{member_id}
    </update>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM member_4JO
        WHERE member_id = #{member_id}
    </delete>
</mapper>